[run]
source =
    blop
[report]
omit =
    */python?.?/*
    */site-packages/nose/*
    # ignore _version.py and versioneer.py
    .*version.*
    *_version.py
    # ignore test modules
    src/blop/tests/**
    */blop/tests/**

exclude_lines =
    if __name__ == '__main__':
